@font-face {
  font-family: "iconfont"; /* Project id 5179277 */
  src: url('iconfont.woff2?t=1779194246331') format('woff2'),
       url('iconfont.woff?t=1779194246331') format('woff'),
       url('iconfont.ttf?t=1779194246331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuxiaoxi:before {
  content: "\e615";
}

.icon-weizhaodao:before {
  content: "\e661";
}

.icon-saying:before {
  content: "\e62f";
}

.icon-yuyin:before {
  content: "\e6e0";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-xinyuandan:before {
  content: "\e663";
}

.icon-xz:before {
  content: "\e603";
}

.icon-jianpan:before {
  content: "\e60e";
}

.icon-xiaoxi:before {
  content: "\e87c";
}

.icon-huatong:before {
  content: "\e67e";
}

.icon-wode-copy:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e67c";
}

.icon-xiaoxi2:before {
  content: "\e601";
}

.icon-wodeqiugou:before {
  content: "\e63d";
}

.icon-remenqiugou:before {
  content: "\e64b";
}

.icon-fabu-:before {
  content: "\e66c";
}

.icon-fabudianjizhuangtai-:before {
  content: "\e68f";
}

.icon-shouye:before {
  content: "\e609";
}

.icon-wode:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-shouye1:before {
  content: "\e602";
}

.icon-fabu:before {
  content: "\e60c";
}

